
:root{
    --maincolor:#FFFFFF;
    --secondarycolor:#336B87;

    --bordercolor: #c1c1c1;

    --mainText:rgb(12, 12, 12);
    --secondaryText:#24f012;

    --themeDotBorder:#24292e;
    --previewBG: rgba(250, 202, 60, 0.8);
    --previewshadow: #f0ead6;

    --btncolor: black;

}
