
:root{
    --maincolor:#FF0000;
    --secondarycolor:#336B87;

    --bordercolor: #c1c1c1;

    --mainText:rgb(12, 12, 12);
    --secondaryText:#f01281;

    --themeDotBorder:#24292e;
    --previewBG: rgb(251,249,243,0.8);
    --previewshadow: #f0ead6;

    --btncolor: black;

}
