:root{
    --maincolor:black;
    --secondarycolor:#f7022a;

    --bordercolor: #161914;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;
    --previewBG: rgb(81,90,72,0.8);
    --previewshadow: #2a2f25;

    --btncolor:#0bec0b;

}
